* { box-sizing: border-box; }


html, body {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
}

h1 {
    font-size: 140%;
}

a{
    color: inherit;
}

pre{
    margin: 0;
    padding: 0;
}

code{
    font-size: 70%;
    text-align: left;
    padding: 1rem !important;
}

button{
    cursor: pointer;
    outline:none;
    font-weight: 300;
    background-color: #1dce94;
    border: none;
    border-radius: 500px;
    color: white;
    padding:0.5rem 1rem;
    transition: all 0.3s;

    &:hover{
        color: #1dce94;
        background-color: white;
    }

    &:active{
        background-color: #cbcbcb;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


mark{
    padding: 0.2rem;
    line-height: 2rem;
}

.noel{
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: auto;
}

    .noel-content{
        width: 90%;
        max-width: 700px;
        top: 8%;
    }

    $ratio: 1.5;

    .noel-logo{
        margin-top: 4rem;
        margin-bottom: 2rem;
        position: relative;
        margin-right: -1.5rem * $ratio;
        z-index: 1;
        @media only screen and (min-width : 992px) {
            margin-top: 7rem;
        }
    }

        .noel-logo__circle{
            z-index: 1;
            position: absolute;
            left: -1.5rem * $ratio;
            height: 5rem * $ratio;
            animation: rotating 7s linear infinite;
            top: -1.3rem * $ratio;
        }

        .noel-logo__text{
            position: relative;
            z-index: 2;
            height: 25%;
            min-height: 2.5rem * $ratio;
        }
