* { box-sizing: border-box; }


html, body {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
}

h1 {
    font-size: 140%;
}

h2{
    font-size: 120%;
    margin-top: 2.1rem;
}

a{
    color: inherit;
}

pre{
    margin: 0;
    padding: 0;
}

code{
    font-size: 70%;
    text-align: left;
    padding: 1rem !important;
}

$button-color: #fb153d;

.github-button-container{
    margin-top:1rem;
}

.btn{
    margin: 1rem;
    display: block;
    cursor: pointer;
    outline:none;
    font-weight: 300;
    color: white;
    background: $button-color;
    border-radius: 500px;
    text-decoration: none;
    padding:0.8rem 2rem;
    transition: all 0.3s;
    font-size: 80%;

    &:hover, &:active{
        background-color: #CE1236;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


mark{
    padding: 0.2rem;
    line-height: 2rem;
}

.noel{
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: auto;
}

.noel-content{
    width: 90%;
    max-width: 700px;
    top: 8%;
}

$ratio: 1.5;

.noel-logo{
    margin-top: 4rem;
    margin-bottom: 2rem;
    position: relative;
    margin-right: -1.5rem * $ratio;
    z-index: 1;
    @media only screen and (min-width : 992px) {
        margin-top: 7rem;
    }
}

.noel-logo__circle{
    z-index: 1;
    position: absolute;
    left: -1.5rem * $ratio;
    height: 5rem * $ratio;
    animation: rotating 7s linear infinite;
    top: -1.3rem * $ratio;
}

.noel-logo__text{
    position: relative;
    z-index: 2;
    height: 25%;
    min-height: 2.5rem * $ratio;
}

code{
    display: block;
}

.code{
    margin: 1rem 0;
    background: #002b36;
    color: #839496;
}

    .code-highlight{
        color: #00cc06;
    }

.noel-read-more{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noel-author{
    padding: 2rem;
    font-size: 80%;
}

.hljs{
    border-radius: 3px;
}
