<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webpack starter basic</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Webpack basic starter project">
    <meta name="Description" content="A simple webpack starter project for your basic web development needs."/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Webpack basic starter project"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://lifenautjoe.github.io/webpack-starter-basic/"/>
    <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg"/>
    <meta property="og:description" content="A simple webpack starter project for your basic web development needs."/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
</head>
<body class="noel">
<div class="noel-logo">
    <img class="noel-logo__circle"
         src="<%= require('./src/assets/noel-circle.svg') %>"
         alt="noel logo circle">
    <img class="noel-logo__text"
         src="<%= require('./src/assets/noel-text.svg') %>"
         alt="noel logo text">
</div>
<div class="noel-content">
    <h1 class="noel-title">
        A universal, human-centric, replayable javascript event emitter.
    </h1>

    <div class="noel-read-more">
        <div class="github-button-container">
            <a class="github-button" href="https://github.com/lifenautjoe/noel" data-show-count="true"
               aria-label="Star lifenautjoe/webpack3-starter on GitHub">Star</a>
        </div>
    </div>
    <div class="noel-read-more">
        <h2>Installation</h2>
        <pre><code>$ npm install noel</code></pre>
    </div>
    <div class="noel-read-more">
        <h2>Basic usage</h2>
        <pre><code class="typescript">const Noel = require('Noel');
const noel = new Noel();

noel.emit('friday', arg1, arg2 ....);

noel.on('friday', partyAllNightLong).replay();</code></pre>
    </div>
    <br>
    <div class="noel-read-more">
        <a href="asdas" class="btn">
            Read more @ Github
        </a>
    </div>
    <div class="noel-author">
        A project of <a href="https://lifenautjoe.com">@lifenautjoe</a>
    </div>
</div>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"
        integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/typescript.min.js"></script>
</body>
</html>
