<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noel | Event Emitter</title>
    <meta name="theme-color" value="#23c6ef">
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Noel | Replayable Event Emitter">
    <meta name="Description" content="A universal, human-centric, replayable javascript event emitter."/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Noel | Replayable Event Emitter"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://lifenautjoe.github.io/noel/"/>
    <meta property="og:image" content="https://i.snag.gy/Vt3Czk.jpg"/>
    <meta property="og:description" content="A universal, human-centric, replayable javascript event emitter."/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
</head>
<body class="noel">
<div class="noel-logo">
    <img class="noel-logo__circle"
         src="<%= require('./src/assets/noel-circle.svg') %>"
         alt="noel logo circle">
    <img class="noel-logo__text"
         src="<%= require('./src/assets/noel-text.svg') %>"
         alt="noel logo text">
</div>
<div class="noel-content">
    <h1 class="noel-title">
        A universal, human-centric, replayable javascript event emitter.
    </h1>
    <div class="noel-read-more">
        <div class="github-button-container">
            <a class="github-button" href="https://github.com/lifenautjoe/noel" data-show-count="true"
               aria-label="Star lifenautjoe/webpack3-starter on GitHub">Star</a>
        </div>
    </div>
    <div class="noel-read-more">
        <h2>Motivation</h2>
        <p>
            The world just like software is full of events. Sometimes these events occur while we are busy doing other things.
            Wouldn't it be nice to have a way to replay all events?

            <strong>Noel is the way.</strong>
        </p>
        <p>
            <mark>
                By being able to replay events we can design reactive systems without having to worry about timing.
            </mark>
        </p>
    </div>
    <div class="noel-read-more">
        <h2>Installation</h2>
        <pre><code>$ npm install noel</code></pre>
    </div>
    <div class="noel-read-more">
        <h2>Basic usage</h2>
        <pre><code class="typescript">const Noel = require('Noel');
const noel = new Noel();

noel.emit('friday', arg1, arg2 ....);

noel.on('friday', partyAllNightLong).replay();</code></pre>
    </div>
    <br>
    <div class="noel-read-more">
        <a href="https://github.com/lifenautjoe/noel" class="btn">
            Read more @ Github
        </a>
    </div>
    <div class="noel-author">
        A project of <a href="https://lifenautjoe.com">@lifenautjoe</a>
    </div>
</div>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"
        integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/typescript.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101423651-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-101423651-3');
</script>
</body>
</html>
