<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webpack starter basic</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Webpack basic starter project">
    <meta name="Description" content="A simple webpack starter project for your basic web development needs."/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Webpack basic starter project"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://lifenautjoe.github.io/webpack-starter-basic/"/>
    <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg"/>
    <meta property="og:description" content="A simple webpack starter project for your basic web development needs."/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
</head>
<body class="noel">
<div class="noel-logo">
    <img class="noel-logo__circle"
         src="<%= require('./src/assets/noel-circle.svg') %>"
         alt="noel logo circle">
    <img class="noel-logo__text"
         src="<%= require('./src/assets/noel-text.svg') %>"
         alt="noel logo text">
</div>
<div class="noel-content">
    <h1 class="noel-title">
        A universal, human-centric, replayable event emitter.
    </h1>
    <div class="noel-description">
        The world just like software is full of events. Sometimes these events while we are busy doing other things.
        Wouldn't it be nice to ave a way to replay all events?

        Noel aims to be that way.

        <div class="yellow-marker">By being able to replay events we can design reactive systems that can handle events
            generically without having to worhry about the timing of events.
        </div>

        For example, code like
        <div class="code">

        </div>
    </div>
    <div class="noel-read-more">
        Interested?
        <button>
            Read more on GitHub
        </button>
    </div>
    <div class="noel-author">
        Joel Hernandez
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/languages/typescript.min.js"></script>
</body>
</html>
